<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-css :: header-css(title='Home Page')"></head>

<body>
<div class="preLoader">	</div> 
	<div th:replace="fragments/nav-bar :: nav-bar"></div>


	<div class="container-fluid">
		<div class="row">
			<div class=" col-sm-12 col-md-12 col-lg-12">
			<!-- message -->
				<div class="row">
					<div
						class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
						
						<div th:if="${message}">
						       <br><br><br><br>
							<div id="textCenter" th:text="${message}"
								class="alert alert-info fade in "></div>
						
						</div>
					</div>
				</div>
				<!-- heading -->
				<div
					class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
					    <br><br><br>
			
						<h2 id="homeTitle">You can booking your serial</h2>
					   
				</div>
				
				
				
				 <!-- Left-aligned media object -->
	<div class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
					   
  <div class="media">
    <div class="media-left">
      <img src="img_avatar1.png" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Left-aligned</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
				
	</div>

				 <!-- well for rules -->
	<div class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
					   
  <h2>Well</h2>
  <div class="well">Basic Well</div>				
	</div>

			 <!-- well for notification -->
	<div class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
					   
  <h2>Notification</h2>
  <div class="well">Basic Well</div>				
	</div>


 <!-- well for button-->
	<div class=" col-sm-6 col-sm-offset-3  col-md-6 col-md-offset-3  col-lg-6 col-lg-offset-3 ">
					   
  
  <div class="well text-center"><button type="button" class="btn btn-primary">Add your serial</button></div>				
	</div>










			</div>
		</div>
	</div>
	<div th:replace="fragments/footer-js::footer-js"></div>

</body>

</html>