/* for preLoader*/
.preLoader{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
z-index:9999;
background:url(../images/loader.gif)50% no-repeat #fff


}

#homeTitle{
text-align:center;
font-style: italic;
color:blue;


}
#viewAllPersonDetailsImg{
width:100px;
height:80px;

}

#editTrauncate{
margin-left:10px;
margin-top:2px;
margin-bottom:2px;
}
#errorImage{
width:100%;
height:auto;
}
#modalTextCenter{
 text-align: center;

}
.modal-header{
background-color:blue;
}
.modal-footer{
background-color:orange;
}
#mediaText{
color:blue;
}
#serialDeleteButton{
margin-left:48%;
}
#ruleHeading{
text-align:center;

}
#rule{
text-align:center;
color:blue;
font-size:40px

}
#notificationHeading{
text-align:center;
}
#notification{
color:red;
text-align:center;
font-size:40px;
}
#textCenter{
text-align:center;
}