/* for preLoader*/
.preLoader{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
z-index:9999;
background:url(../images/sb-preloader.gif)50% no-repeat #fff


}

#homeTitle{
text-align:center;
font-style: italic;
color:blue;


}
#viewAllPersonDetailsImg{
width:100px;
height:80px;

}

#editTrauncate{
margin-left:10px;
margin-top:2px;
margin-bottom:2px;
}
#errorImage{
width:100%;
height:auto;
}
#modalTextCenter{
 text-align: center;

}
.modal-header{
background-color:blue;
}
.modal-footer{
background-color:orange;
}
#mediaText{
color:blue;
}
#serialDeleteButton{
margin-left:48%;
}
#ruleHeading{
text-align:center;

}
#rule{
text-align:center;
color:blue;
font-size:40px

}
#notificationHeading{
text-align:center;
}
#notification{
color:red;
text-align:center;
font-size:40px;
}
#textCenter{
text-align:center;
}
/* home page form color*/
#visitTime{
background-color:rgb(242,196,22);
}
#name{
background-color:rgb(242,196,22);
}
#age{
background-color:rgb(242,196,22);
}

#contact{
background-color:rgb(242,196,22);
}
/*person form color*/
#image{
background-color:rgb(242,215,123);

}
#pName{
background-color:rgb(242,215,123);

}
#degree{
background-color:rgb(242,215,123);

}
#expert{
background-color:rgb(242,215,123);

}
#chamberLocation{
background-color:rgb(242,215,123);

}
#pContact{
background-color:rgb(242,215,123);

}
#rules{
background-color:rgb(127,240,172);

}
#notifications{
background-color:rgb(208,223,239);

}
#headings{
background-color:rgb(214,239,82);

}
#managePersonDetailHeading{
text-align:center;
color:rgb(241,90,36);
}
#managePersonDetailsTable{
text-align:center;
color:rgb(108,179,62);
}
#manageRuleHeading{
text-align:center;
color:rgb(255,128,128);
}
#manageRuleTable{
text-align:center;
color:rgb(89,39,127);
}
#manageNotificationFormHeading{
text-align:center;
color:rgb(248,12,147);

}

#manageNotificationTableHeading{
text-align:center;
color:rgb(0,128,0);

}
#manageSerialBookingHeading{
text-align:center;
color:rgb(0,120,215);
}

#manageHeadingFormHeading{
text-align:center;
color:rgb(245,39,61);
}
#manageHeadingTableHeading{
text-align:center;
color:rgb(04,197,236);
}
#manageAllSerialDelete{
text-align:center;
color:rgb(20,111,23);

}
#homeHeading{
text-align:center;
color:rgb(248,35,53);
}

#mediaText{
color:rgb(65,2,142);
}

#homeAllreadyBookedTable{
text-align:center;
color:rgb(42,148,11);
}
#homeAllreadyBookedForm{
text-align:center;
color:rgb(193,35,100);

}